@media (min-width: 0) {
    #prev-restaurant {
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        background-color:#ededed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .restaurant-header {
            margin-top: 50px;
        }
        .restaurant-list {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 50px;
            @media (min-width: 769px) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .restaurant-article {
                background-color: white;
                border-radius: 20px;
                height: 300px;
                width: 100%;
                margin: 1rem 0;
                padding: 5px;
                display: flex;
                flex-direction: column;
                box-shadow: 0.5px 0.5px 10px lightgray;
                @media (min-width: 769px) {
                    width: 47%;
                }
                .restaurant-article__image {
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    overflow: hidden;
                    flex: 1;
                    img {
                        width: 100%;
                        height: 210px;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .restaurant-article__content {
                    height: 30%; 
                    font-size: 0.8em;
                    padding: 0 0.8rem;
                    line-height: 0.8rem;
                    a {
                        text-decoration: none;
                        color: black;
                        h2 {
                            margin-top: 25px;
                        }
                        p {
                            font-size: 1.5em;
                        }
                    }
                    .heart-icon {
                        color: transparent;
                        -webkit-text-stroke: 2px black;
                        -webkit-background-clip: text;
                        float: right;
                        position: relative;
                        bottom: 50px;
                        right: 15px;
                        font-size: 2em;
                        .fas:hover {
                            background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
                            -webkit-text-stroke: 0px black;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                    .new-restaurant {
                        background-color: #99E2D0;
                        width: 100px;
                        color: green;
                        height: 30px;
                        text-align: center;
                        float: right;
                        position: relative;
                        right: -25px;
                        bottom: 280px;
                        font-size: 1.5em;
                        font-weight: bold;
                        padding-top: 15px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}

/* ESSAI 2

@media (min-width: 769px) {

    #prev-restaurant {
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        background-color:#ededed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .restaurant-header {
            margin-top: 50px;
        }
        .restaurant-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
            .restaurant-article {
                background-color: white;
                border-radius: 20px;
                height: 300px;
                width: 47%;
                margin: 1rem 0;
                padding: 5px;
                display: flex;
                flex-direction: column;
                box-shadow: 0.5px 0.5px 10px lightgray;
                .restaurant-article__image {
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    overflow: hidden;
                    flex: 1;
                    img {
                        width: 100%;
                        height: 210px;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .restaurant-article__content {
                    height: 30%; 
                    font-size: 0.8em;
                    padding: 0 0.8rem;
                    line-height: 0.8rem;
                    a {
                        text-decoration: none;
                        color: black;
                        h2 {
                            margin-top: 25px;
                        }
                        p {
                            font-size: 1.5em;
                        }
                    }
                    .heart-icon {
                        float: right;
                        position: relative;
                        bottom: 50px;
                        right: 15px;
                        font-size: 2em;
                    }
                    .new-restaurant {
                        background-color: #99E2D0;
                        width: 100px;
                        color: green;
                        height: 30px;
                        text-align: center;
                        float: right;
                        position: relative;
                        right: -25px;
                        bottom: 280px;
                        font-size: 1.5em;
                        font-weight: bold;
                        padding-top: 15px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}

*/

/* ESSAI 1

@media (min-width: 769px) {
    .restaurant-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .restaurant-article {
            width: 47%;
        }
    }
}

*/