.headerlogo {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.fa-arrow-left {
    font-size: 1.5em;
    float: right;
    position: relative;
    right: 90%;
    top: -40px;
    color: black;
}