@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto";
}

h3 {
  font-family: "Shrikhand";
}

body {
  margin: 0;
}

.headerlogo {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fa-arrow-left {
  font-size: 1.5em;
  float: right;
  position: relative;
  right: 90%;
  top: -40px;
  color: black;
}

#prev-reserv {
  background-color: #ededed;
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#prev-reserv .location {
  background-color: #d4d4d4;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid #bababa;
}
#prev-reserv .location .fas {
  font-size: 25px;
}
#prev-reserv .location input {
  text-align: center;
  font-weight: bold;
  border: none;
  background-color: #d4d4d4;
  font-size: 1.1em;
  height: 40px;
}
#prev-reserv .location input:placeholder {
  color: black;
}
#prev-reserv .reserv {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#prev-reserv .reserv h1 {
  margin: 1rem auto 0 auto;
  font-size: 1.5em;
  width: 70%;
}
#prev-reserv .reserv p {
  margin: 1rem auto 0 auto;
  width: 80%;
}
#prev-reserv .reserv a {
  margin: 1rem auto;
  text-decoration: none;
}
#prev-reserv .reserv a .btn {
  color: white;
  height: 30px;
  border-radius: 30px;
  width: 200px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  box-shadow: 5px 3px 10px #bababa;
}
#prev-reserv .reserv a .btn:hover {
  opacity: 0.9;
  box-shadow: 5px 3px 5px #bababa;
  transform: scale(1.01);
}

@media (min-width: 0) {
  #prev-function {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #prev-function .function-steps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
  }
}
@media (min-width: 0) and (min-width: 769px) {
  #prev-function .function-steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 0) {
  #prev-function .function-steps .function-step {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #ededed;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (min-width: 0) and (min-width: 769px) {
  #prev-function .function-steps .function-step {
    width: 30%;
  }
}
@media (min-width: 0) {
  #prev-function .function-steps .function-step .function-stepnumber {
    color: white;
    display: flex;
    background-color: #9356DC;
    align-items: center;
    justify-content: center;
    height: 12px;
    width: 12px;
    border-radius: 30px;
    padding: 0.5rem;
    position: relative;
    top: 26px;
    left: -12px;
  }
}
@media (min-width: 0) {
  #prev-function .function-steps .function-step .function-icon {
    color: gray;
    position: relative;
    height: 28px;
    top: 28px;
    left: 1%;
  }
  #prev-function .function-steps .function-step .function-icon .fas {
    font-size: 1.5em;
  }
}
@media (min-width: 0) {
  #prev-function .function-steps .function-step span {
    width: 70%;
    font-size: 1.2em;
    position: relative;
    top: 28px;
    left: 5%;
  }
}
/* ESSAI 2

@media (min-width: 769px) {

    #prev-function {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
        .function-steps {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 10px; 
            .function-step {
                width: 30%;
                height: 80px;
                display: flex;
                background-color: #ededed;
                border-radius: 20px;
                margin-top: 10px;
                margin-bottom: 10px;
                .function-stepnumber {
                    color: white;
                    display: flex;
                    background-color: #9356DC;
                    align-items: center;
                    justify-content: center;
                    height: 12px;
                    width: 12px;
                    border-radius: 30px;
                    padding: 0.5rem;
                    position: relative;
                    top: 26px;
                    left: -12px;
                }
                .function-icon {
                    color:gray;
                    position: relative;
                    height: 28px;
                    top: 28px;
                    left: 1%;
                    .fas {
                        font-size: 1.5em;
                    }
                }
                span {
                    width: 70%;
                    font-size: 1.2em;
                    position: relative;
                    top: 28px;
                    left: 5%;
                }
            }
        }
    }
}

*/
/* ESSAI 1

@media (min-width: 769px) {
    .function-steps {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .function-step {
            width: 30%;
        }
    }
}

*/
@media (min-width: 0) {
  #prev-restaurant {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #prev-restaurant .restaurant-header {
    margin-top: 50px;
  }
  #prev-restaurant .restaurant-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
  }
}
@media (min-width: 0) and (min-width: 769px) {
  #prev-restaurant .restaurant-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 0) {
  #prev-restaurant .restaurant-list .restaurant-article {
    background-color: white;
    border-radius: 20px;
    height: 300px;
    width: 100%;
    margin: 1rem 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 0.5px 10px lightgray;
  }
}
@media (min-width: 0) and (min-width: 769px) {
  #prev-restaurant .restaurant-list .restaurant-article {
    width: 47%;
  }
}
@media (min-width: 0) {
  #prev-restaurant .restaurant-list .restaurant-article .restaurant-article__image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    flex: 1;
  }
  #prev-restaurant .restaurant-list .restaurant-article .restaurant-article__image img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    object-position: center;
  }
}
@media (min-width: 0) {
  #prev-restaurant .restaurant-list .restaurant-article .restaurant-article__content {
    height: 30%;
    font-size: 0.8em;
    padding: 0 0.8rem;
    line-height: 0.8rem;
  }
  #prev-restaurant .restaurant-list .restaurant-article .restaurant-article__content a {
    text-decoration: none;
    color: black;
  }
  #prev-restaurant .restaurant-list .restaurant-article .restaurant-article__content a h2 {
    margin-top: 25px;
  }
  #prev-restaurant .restaurant-list .restaurant-article .restaurant-article__content a p {
    font-size: 1.5em;
  }
  #prev-restaurant .restaurant-list .restaurant-article .restaurant-article__content .heart-icon {
    color: transparent;
    -webkit-text-stroke: 2px black;
    -webkit-background-clip: text;
    float: right;
    position: relative;
    bottom: 50px;
    right: 15px;
    font-size: 2em;
  }
  #prev-restaurant .restaurant-list .restaurant-article .restaurant-article__content .heart-icon .fas:hover {
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    -webkit-text-stroke: 0px black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #prev-restaurant .restaurant-list .restaurant-article .restaurant-article__content .new-restaurant {
    background-color: #99E2D0;
    width: 100px;
    color: green;
    height: 30px;
    text-align: center;
    float: right;
    position: relative;
    right: -25px;
    bottom: 280px;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 15px;
    border-radius: 3px;
  }
}
/* ESSAI 2

@media (min-width: 769px) {

    #prev-restaurant {
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        background-color:#ededed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .restaurant-header {
            margin-top: 50px;
        }
        .restaurant-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
            .restaurant-article {
                background-color: white;
                border-radius: 20px;
                height: 300px;
                width: 47%;
                margin: 1rem 0;
                padding: 5px;
                display: flex;
                flex-direction: column;
                box-shadow: 0.5px 0.5px 10px lightgray;
                .restaurant-article__image {
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    overflow: hidden;
                    flex: 1;
                    img {
                        width: 100%;
                        height: 210px;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .restaurant-article__content {
                    height: 30%; 
                    font-size: 0.8em;
                    padding: 0 0.8rem;
                    line-height: 0.8rem;
                    a {
                        text-decoration: none;
                        color: black;
                        h2 {
                            margin-top: 25px;
                        }
                        p {
                            font-size: 1.5em;
                        }
                    }
                    .heart-icon {
                        float: right;
                        position: relative;
                        bottom: 50px;
                        right: 15px;
                        font-size: 2em;
                    }
                    .new-restaurant {
                        background-color: #99E2D0;
                        width: 100px;
                        color: green;
                        height: 30px;
                        text-align: center;
                        float: right;
                        position: relative;
                        right: -25px;
                        bottom: 280px;
                        font-size: 1.5em;
                        font-weight: bold;
                        padding-top: 15px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}

*/
/* ESSAI 1

@media (min-width: 769px) {
    .restaurant-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .restaurant-article {
            width: 47%;
        }
    }
}

*/
@media (min-width: 0) {
  #footer {
    background-color: #353535;
    color: white;
    padding: 5%;
  }
}
@media (min-width: 0) and (min-width: 769px) {
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 0) {
  #footer .footer__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (min-width: 0) and (min-width: 769px) {
  #footer .footer__list {
    flex-direction: row;
  }
}
@media (min-width: 0) {
  #footer .footer__list .footer-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
}
@media (min-width: 0) and (min-width: 769px) {
  #footer .footer__list .footer-content {
    margin-right: 40px;
  }
}
@media (min-width: 0) {
  #footer .footer__list .footer-content .fa-utensils {
    margin-right: 12px;
  }
}
@media (min-width: 0) {
  #footer .footer__list .footer-content .fa-hands-helping {
    margin-right: 5px;
  }
}
@media (min-width: 0) {
  #footer .footer__list .footer-content p {
    margin: 0;
  }
}
/* ESSAI 2

@media (min-width: 769px) {

    #footer {
        background-color: #353535;
        color: white;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .footer-content {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                margin-right: 40px;
                .fa-utensils {
                    margin-right: 12px;
                }
                .fa-hands-helping {
                    margin-right: 5px;
                }
                p {
                    margin: 0;
                }
            }
        }
    }
}

*/
/* ESSAI 1

@media (min-width: 769px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer__list {
            flex-direction: row;
            .footer-content {
                margin-right: 40px;
            }
        }
    }
}

*/
.heart-icon .fas:hover {
  animation: fadeInHeart 2s ease;
}

@keyframes fadeInHeart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style_acceuil.css.map */
