
.meal:nth-child(2) {
    animation: fadeIn 1.3s;
}

.meal:nth-child(3) {
    animation: fadeIn 2.3s;
}

.meal:nth-child(4) {
    animation: fadeIn 3.3s;
}

.meal:nth-child(5) {
    animation: fadeIn 4.3s;
}


@keyframes fadeIn {
    
    0% {
        transform: translate(0px, 25px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.heart-icon .fas:hover {
    animation: fadeInHeart 2s ease;
}

@keyframes fadeInHeart { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.prev-menu {
    .meal {
        &__valid {
            float: right;
            display: flex;
            justify-content: center;
            height: 100%;
            margin-left: 2%;
            background-color: #99E2D0;
            color: white;
            border-radius: 0 20px 20px 0;
            overflow: hidden;
            width: 0%;
            transition: width 1s ease;
            .fas{
                margin: auto;
                font-size: 1.5em;
            }
        }
        &:hover {
            .fas {
                animation: circle 1s ease;
            }
            .meal__valid {
                width: 20%;
            }
        }
    }
}

@mixin rotate($rotation: 0deg) {
    transform: rotate($rotation);
}

@keyframes circle {
    0%{
        @include rotate(-360deg);
    }
    100%{
        @include rotate;
    }
}




