@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

* {
  font-family: "Roboto";
  }
  
h3 {
  font-family: "Shrikhand";
  }

body {
  margin: 0;
}

header {
  z-index: 1;
}

main {
  z-index: 1;
}

footer {
  z-index: 1;
}