@media (min-width: 0) {

    #footer {
        background-color: #353535;
        color: white;
        padding: 5%;
        .footer__list {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .footer-content {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                .fa-utensils {
                    margin-right: 12px;
                }
                .fa-hands-helping {
                    margin-right: 5px;
                }
                p {
                    margin: 0;
                }
            }
        }
    }
}

@media (min-width: 769px) {

    .footer__list {
        flex-direction: row;
        .footer-content {
            margin-right: 40px;
        }
    }
}