.heart-icon .fas:hover {
    animation: fadeInHeart 2s ease;
}

@keyframes fadeInHeart {
    
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
.loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
    animation: wrapper 2s;
    .loader {
        margin: auto;
        position: relative;
        top: 300px;
        width: 30%;
        background-color:#f3f3f3;
        margin: auto;
        top: 350px;
        animation: wrapper 2s;
        .bar {
            width: 0%;
            height: 20px;
            background-color:#3498db;
            animation: spin 2s linear;
            }
        
        }
    }

    @keyframes wrapper {
        0% {
            opacity: 1;
        }
        99% {
            opacity: 1;
        }
        100%{
            opacity: 0;
            
        }
    }

    @keyframes spin {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
    */

    .loading-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 9999;
        .loader {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .lettre {
        color: #484848;
        font-size: 50px;
        font-family: "Shrikhand";
        margin-bottom: 100px;
        animation: load 1.2s linear infinite;
    }

    .lettre:nth-child(1) {
        animation-delay: 0.1s;
    }

    .lettre:nth-child(2) {
        animation-delay: 0.2s;
    }

    .lettre:nth-child(3) {
        animation-delay: 0.3s;
    }

    .lettre:nth-child(4) {
        animation-delay: 0.4s;
    }

    .lettre:nth-child(5) {
        animation-delay: 0.5s;
    }

    .lettre:nth-child(6) {
        animation-delay: 0.6s;
    }

    .lettre:nth-child(7) {
        animation-delay: 0.7s;
    }

    .lettre:nth-child(8) {
        animation-delay: 0.8s;
    }

    @keyframes load {
        0% {
            color: #fff900;
            text-shadow: 0 0 7px #fff900;
        }
        90% {
            color: #484848;
            text-shadow: none;
        }
        100% {
            color: #fff900;
            text-shadow: 0 0 7px #fff900;
        }
    }

